docs/n8n/bdd-seo-autopilot-intake.workflow.json
{
  "name": "BDD — SEO Autopilot Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seo-autopilot-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "93758589-10df-43c5-9677-cb5759c20113",
      "name": "Webhook (POST intake)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -448,
        80
      ],
      "webhookId": "seo-autopilot-intake"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.headers['x-bdd-secret'] }}",
              "rightValue": "=REPLACE_WITH_INTAKE_SECRET",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "356b733a-6e51-4c1b-b31b-b7264d936aec"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "42e8ccfa-2926-429d-898d-77b804a2fecb",
      "name": "Verify shared secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        80
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.rows",
        "options": {}
      },
      "id": "fa8141aa-b720-4e09-be87-5415c20b345a",
      "name": "Split rows",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1V-anSvUJt1bCTFEP0OYcmJRUMw11PXi5Z-jXA5n7G2Q",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1271705953,
          "mode": "list",
          "cachedResultName": "content-queue-seed",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V-anSvUJt1bCTFEP0OYcmJRUMw11PXi5Z-jXA5n7G2Q/edit#gid=1271705953"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "status": "={{ $json.status || 'queued' }}",
            "slug": "={{ $json.slug }}",
            "title": "={{ $json.title }}",
            "seoTitle": "={{ $json.seoTitle }}",
            "seoDescription": "={{ $json.seoDescription }}",
            "harm": "={{ $json.harm }}",
            "location": "={{ $json.location }}",
            "cluster": "={{ $json.cluster }}",
            "intent": "={{ $json.intent }}",
            "priority_score": "={{ $json.priority_score }}",
            "target_keyword": "={{ $json.target_keyword }}",
            "volume": "={{ $json.volume }}",
            "difficulty": "={{ $json.difficulty }}",
            "outline": "={{ typeof $json.outline === 'string' ? $json.outline : JSON.stringify($json.outline) }}",
            "tldr": "={{ $json.tldr }}",
            "sources_to_cite": "={{ typeof $json.sources_to_cite === 'string' ? $json.sources_to_cite : JSON.stringify($json.sources_to_cite) }}",
            "eeat_angle": "={{ $json.eeat_angle }}",
            "date_planned": "={{ $json.date_planned || $now.toISODate() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "slug",
              "displayName": "slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seoTitle",
              "displayName": "seoTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seoDescription",
              "displayName": "seoDescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "harm",
              "displayName": "harm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cluster",
              "displayName": "cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority_score",
              "displayName": "priority_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_keyword",
              "displayName": "target_keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "volume",
              "displayName": "volume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "difficulty",
              "displayName": "difficulty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "outline",
              "displayName": "outline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tldr",
              "displayName": "tldr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sources_to_cite",
              "displayName": "sources_to_cite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "eeat_angle",
              "displayName": "eeat_angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_planned",
              "displayName": "date_planned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9a09db47-2214-4f27-8410-496b65f3d3e4",
      "name": "Append to content Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        224,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_ME",
          "name": "Google Sheets account"
        }
      },
      "notes": "Set Google Sheets credential, documentId, and sheetName in the n8n UI. Column keys must match your Sheet's header row exactly."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"queued\": $items(\"Split rows\").length } }}",
        "options": {}
      },
      "id": "c6b65a76-0d21-4c4e-ad71-bcc9b39bade3",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        464,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": false, \"error\": \"unauthorized\" } }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "ad622403-cad3-4a1b-9cb9-a86ac78c03de",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        0,
        224
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (POST intake)": {
      "main": [
        [
          {
            "node": "Verify shared secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify shared secret": {
      "main": [
        [
          {
            "node": "Split rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split rows": {
      "main": [
        [
          {
            "node": "Append to content Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to content Sheet": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e0fa51b4-7be6-4cf6-9559-a46839a0ae97",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f2e93821a058e1e1eae94e96b8c2f6566262a8b4e38099366c82be866c513ee8"
  },
  "id": "zpUBb85aCPqOsDrA",
  "tags": []
}
