docs/n8n/bdd-approve.workflow.json
{
  "name": "BDD Approve",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "approve",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222201",
      "name": "Approve webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-200, 240],
      "webhookId": "bdd-approve-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.query.token }}",
              "rightValue": "REPLACE_WITH_APPROVE_SECRET",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222202",
      "name": "Check token",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [40, 240]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/JimGoff518/bigdatadamage/pulls/{{ $json.query.pr }}/merge",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Accept", "value": "application/vnd.github+json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"merge_method\": \"squash\" } }}",
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222203",
      "name": "Merge PR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 140],
      "credentials": { "githubApi": { "id": "REPLACE_ME", "name": "GitHub account" } }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "1V-anSvUJt1bCTFEP0OYcmJRUMw11PXi5Z-jXA5n7G2Q", "mode": "id" },
        "sheetName": { "__rl": true, "value": "1271705953", "mode": "id" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pr_url": "=https://github.com/JimGoff518/bigdatadamage/pull/{{ $('Approve webhook').item.json.query.pr }}",
            "status": "published"
          },
          "matchingColumns": ["pr_url"]
        },
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222204",
      "name": "Mark published",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [580, 140],
      "credentials": { "googleSheetsOAuth2Api": { "id": "REPLACE_ME", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<html><body style=\"font-family:sans-serif;text-align:center;padding:60px\"><h2>&#9989; Approved &amp; publishing</h2><p>The article is merging now and will be live on bigdatadamage.com in about a minute.</p></body></html>",
        "options": {
          "responseCode": 200,
          "responseHeaders": { "entries": [ { "name": "Content-Type", "value": "text/html" } ] }
        }
      },
      "id": "22222222-2222-2222-2222-222222222205",
      "name": "Published response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [840, 140]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Invalid or missing token. Approval rejected.",
        "options": { "responseCode": 403 }
      },
      "id": "22222222-2222-2222-2222-222222222206",
      "name": "Reject response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [320, 360]
    }
  ],
  "connections": {
    "Approve webhook": { "main": [ [ { "node": "Check token", "type": "main", "index": 0 } ] ] },
    "Check token": {
      "main": [
        [ { "node": "Merge PR", "type": "main", "index": 0 } ],
        [ { "node": "Reject response", "type": "main", "index": 0 } ]
      ]
    },
    "Merge PR": { "main": [ [ { "node": "Mark published", "type": "main", "index": 0 } ] ] },
    "Mark published": { "main": [ [ { "node": "Published response", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" }
}
